.menu {

    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 20px 20px 20px;
    display: flex;
    width: 100%;

    &__link-header {
        font-size: 18px;
        text-transform: uppercase;
        margin-right: 80px;
        line-height: 1.1;
        text-decoration: none;
        display: inline-block;
        padding: 5px 8px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        color: initial;
        

        @media (max-width: $small-screen) {
            margin-right: 20px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;

        @media (max-width: $small-screen) {
            justify-content: flex-end;
        }
    }

    &__link {
        display: block;
        margin-right: 20px;
        text-transform: lowercase;
        text-decoration: none;
        color: initial;
        font-style: italic;
        padding: 2px 8px;
        font-weight: bold;
        cursor: pointer;

        @media (max-width: $small-screen) {
            margin-right: 10px;
        }

        &--active {
            text-decoration: underline;
            color: initial;
        }
    }

    &--dark {
        color: $white !important;
        background-color: transparent;
    }
}
