.project {
	margin: 100px 40px 40px;
	max-width: 1000px;

	@media (max-width: $small-screen) {
		width: auto;
		margin: 100px 20px 20px;
	}

  &__info {
    position: fixed;

    @media (max-width: $small-screen) {
      position: initial;
    }
  }

  &__description {
    font-size: 12px;
    display: flex;
    margin-bottom: 30px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__list + &__list {
    padding-left: 45px;
  }

  &__content {
    display: flex;
    justify-content: flex-end;
  }

  &__picture-list {
    max-width: 500px;
  }

  &__img {
    margin-bottom: 60px;
  }
}
