.work {
    margin: 100px auto 40px;

    &__desc {
        font-size: 12px;
        margin-top: 0;
    }

    &__img-wrapper {
        margin: 50px;
        max-width: 250px;

        @media (max-width: $small-screen) {
            margin: 20px;
        }
    }
}
