.work {
    margin: 100px auto 40px;

    &__desc {
        font-size: 12px;
        margin-top: 0;
    }

    &__img-wrapper {
        margin: 50px;
        max-width: 250px;
    }

    &__show-desktop {
        display: block;

        @media (max-width: $medium-screen) {
            display: none;
        }
    }

    &__show-mobile {
         display: none;
    
        @media (max-width: $medium-screen) {
            display: block;
        }
    }
}
